extends ../layout

block content
  h2=serie.SeriesName
  div(class='row')
    div(class='col-md-8')
      h3.
        Overview
      p
        =serie.Overview
      h3.
        Actors
      p
        =actors
      h3.
        Genres
      p
        =genres
      h3.
        Airing information
      p.
        The show first aired (or will air) #{serie.FirstAired}, and has a rating of #{serie.Rating}. It's current status is
        #{serie.Status}, an episode takes about #{serie.Runtime} minutes. This show usually airs on #{serie.Airs_DayOfWeek}s
        at #{serie.Airs_Time} on #{serie.Network}.

    div(class='col-md-1').
      &nbsp;

    div(class='col-md-3 well')
      if 'poster' in serie
        img(align='middle', width="100%", src='http://thetvdb.com/banners/_cache/' + serie.poster)
  div.row
    div.col-md-1
      p
        a.btn.btn-primary.btn-fab.btn-raised.icon-material-chevron-left.withripple(href='/shows/search')
    div.col-md-2
      form(method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        if following === true
          button(type='submit', name='unfollow', class='btn btn-danger') 
            span(class='icon-material-close', style='padding-right: 10px')
            | Unfollow
        else
          button(type='submit', name='follow', class='btn btn-success') 
            span(class='icon-material-add', style='padding-right: 10px')
            | Follow
    div.col-md-2
      if serie.IMDB_ID
        p
          a(href='http://www.imdb.com/title/' + serie.IMDB_ID, title='IMDB', class='btn btn-info imdb', target='_blank').
            IMDB info
    div.col-md-7
